@charset "utf-8";

#wrap {
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
}

/* Main Banner */

.main_banner {
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    position: relative;
}
 
.main_banner_bg_upper {
    width: 100%;
    height: 432px;
    background-color: #f8ffe0;
}

.main_banner_bg_lower {
    width: 100%;
    height: 250px;
}

.main_banner_box {
    max-width: 1320px;
    width: 100%;
    position: absolute;
    top: 69.3%;
    left: 50%;
    transform: translate(-50%, -69.3%);
}

.main_banner_box img {
    float: left;
}

.main_banner_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_banner_txt h3 {
    font-size: 3rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.main_banner_txt h2 {
    font-size: 5rem;
    font-weight: 900;
    color: #637912;
}

.banner_txt_box {
    width: 97%;
    height: 62px;
    margin-left: 3%;
    background-color: #68a700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner_txt_box h4 {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
}

.main_banner_txt p {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-top: 30px;
}


/* Contents */

.contents_wrap {
    max-width: 1320px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

/* Contents1 */

.contents1 {
    width: 100%;
    overflow: hidden;
}

.contents1_title, .contents2_title {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contents1_title > h2 {
    font-size: 2.5rem;
}

.contents1_title a {
    font-size: 1.5rem;
    color: #aaa;
    border-bottom: 1px solid #aaa;
    padding-bottom: 10px;
    margin-right: 3%;
}

.contents1_boxWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.con1_itembox {
    width: 315px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.con1_itembox a img {
    width: 93px;
    margin: 80px 112px 40px;
}

.con1_itembox a h3 {
    color: #444;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 40px;
}

.con1_itembox a p {
    color: #aaa;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 28px;
}

.item1_price_onSale {
    margin-top: 30px;
    text-align: center;
}

.item1_price_onSale span:first-child {
    color: #ff2626;
    font-size: 1.5rem;
    text-decoration: line-through;
    text-align: center;
}

.item1_price_onSale span:last-child {
    color: #637912;
    font-size: 2rem;
}

.item1_price {
    display: block;
    color: #637912;
    font-size: 2rem;
    margin-top: 30px;
    text-align: center;
}

.con1_itembox:hover {
    border: 1px solid #ddd;
    border-radius: 10px;
    transition-duration: 0.5s;
}

/* Contents2 */

.contents2 {
    width: 100%;
    overflow: hidden;
}

.contents2_title, .contents3_title {
    width: 100%;
    height: 50px;
    font-size: 2.5rem;
    margin: 100px auto 0;
}

.swiper-button-prev:after, .swiper-button-next:after {
    display: none;
}

.swiper-button-prev {
    width: 30px;
    height: 30px;
    background: url(../img/prev.png) no-repeat center;
    background-size: cover;
    top: 135px;
    right: 5%;
    left: unset;
}

.swiper-button-next {
    width: 30px;
    height: 30px;
    background: url(../img/next.png) no-repeat center;
    background-size: cover;
    top: 135px;
    right: 0;
}

.contents2_items {
    width: 100%;
    height: 600px;
}

.item2-1, .item2-2, .item2-3 {
    width: 32%;
    height: 550px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 50px;
}

.item2_imgbox {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.item2_imgbox::before {
    content: '';
    width: 100%;
    height: 1px;
    background: #ddd;
    position: absolute;
    bottom: 0;
}

.item2_txt {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.item2_txt p:first-of-type {
    font-size: 2rem;
    color: #444;
}

.item2_txt h3 {
    font-size: 3rem;
    color: #637912;
}

.item2_txt p:last-of-type {
    font-size: 1.5rem;
    color: #aaa;
    text-align: center;
}

.item2_txt span {
    font-size: 2rem;
    color: #637912;
}

.item2:hover {
    border: 1px solid #333;
    border-radius: 10px;
    transition-duration: 0.5s;
}

/* Contents3 */

.contents3 {
    width: 100%;
    margin-bottom: 150px;
}

.contents3_boxWrap {
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.contents3_boxWrap a {
    display: block;
    width: 427px;
    height: 215px;
}

.con3_itembox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.item3-1 {
    background-color: #b2d448;
}

.item3-1_imgbox {
    width: 167px;
    position: absolute;
    top: 30px;
    left: 25px;
    object-fit: cover;
}

.item3-1_txtbox {
    position: absolute;
    top: 50px;
    left: 220px;
}

.item3-1_txtbox h3 {
    display: inline-block;
    font-size: 2.5rem;
    color: #555;
}

.item3-1_txtbox h4 {
    display: inline-block;
    width: 100px;
    height: 27px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    background-color: #637912;
    position: absolute;
    top: 5px;
    left: 107px;
}

.item3-1_txtbox p {
    font-size: 1.2rem;
    line-height: 1.7;
    color: #555;
    padding-top: 25px;
}

.item3-2 {
    border: 1px solid #ddd;
    text-align: center;
}

.item3-2 h3 {
    font-size: 3rem;
    color: #555;
    letter-spacing: 10px;
    margin-top: 30px;
}

.item3-2 h4 {
    font-weight: 400;
    letter-spacing: 10px;
    margin: 15px 0 20px;
}

.item3-2 p {
    font-size: 1.2rem;
    line-height: 1.7;
}

.item3-3 {
    background-color: #87e8b5;
}

.item3-3_imgbox {
    width: 192px;
    position: absolute;
    top: 30px;
    left: 5px;
    object-fit: cover;
}

.item3-3_txtbox {
    position: absolute;
    top: 47px;
    left: 205px;
}

.item3-3_txtbox h3 {
    display: inline-block;
    font-size: 2.5rem;
    color: #fff;
}

.item3-3_txtbox h4 {
    display: inline-block;
    width: 130px;
    height: 27px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    background-color: #138749;
    position: absolute;
    left: 107px;
    top: 5px;
}

.item3-3_txtbox span {
    display: block;
    font-size: 1.5rem;
    color: #fff;
    padding-top: 20px;
}

.item3-3_txtbox p {
    font-size: 1.2rem;
    line-height: 1.7;
    color: #fff;
    padding-top: 20px;
}

.item3-4 {
    background-color: #999;
}

.item3-4_imgbox {
    width: 181px;
    height: 205px;
    position: absolute;
    top: 20px;
    left: 8px;
    object-fit: cover;
}

.item3-4_txtbox {
    position: absolute;
    top: 70px;
    left: 188px;
}

.item3-4_txtbox h3 {
    font-size: 2.5rem;
    color: #fff;
}

.item3-4_txtbox h4 {
    display: inline-block;
    width: 120px;
    height: 27px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    background-color: #333;
    position: absolute;
    left: 120px;
    top: 5px;
}

.item3-4_txtbox p {
    font-size: 1.2rem;
    line-height: 1.7;
    color: #fff;
    padding-top: 25px;
}

.item3-5 {
    background-color: #637912;
}

.item3-5_imgbox {
    width: 150px;
    position: absolute;
    top: 50px;
    left: 25px;
    object-fit: cover;
}

.item3-5_txtbox {
    position: absolute;
    top: 70px;
    left: 180px;
}

.item3-5_txtbox h3 {
    font-size: 2.5rem;
    color: #fff;
}

.item3-5_txtbox h4 {
    display: inline-block;
    width: 127px;
    height: 27px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    background-color: #b2d448;
    position: absolute;
    left: 120px;
    top: 5px;
}

.item3-5_txtbox p {
    font-size: 1.2rem;
    line-height: 1.7;
    color: #fff;
    padding-top: 25px;
}

.item3-6 {
    background-color: #333;
}

.item3-6_imgbox {
    width: 219px;
    position: absolute;
    left: -40px;
    object-fit: cover;
}

.item3-6_txtbox {
    position: absolute;
    top: 70px;
    left: 180px;
}

.item3-6_txtbox h3 {
    font-size: 2.5rem;
    color: #fff;
}

.item3-6_txtbox h4 {
    display: inline-block;
    width: 127px;
    height: 27px;
    color: #444;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    border-radius: 10px 0 0 10px;
    background-color: #999;
    position: absolute;
    left: 120px;
    top: 5px;
}

.item3-6_txtbox p {
    font-size: 1.2rem;
    line-height: 1.7;
    color: #fff;
    padding-top: 25px;
}



/* Media Query */

@media screen and (max-width:1024px) {
    
    #wrap {
        max-width: 1024px;
    }

    /* Main Banner */

    .main_banner {
        max-width: 1024px;
        margin: 0 auto 200px;
    }

    .main_banner_box {
        max-width: 1024px;
        width: 100%;
        text-align: center;
        top: 200px;
        left: 0;
        transform: translate(0, 0);
    }

    .main_banner_box img {
        float: unset;
    }

    .main_banner_txt {
        margin-top: 50px;
    }

    .main_banner_txt h3 {
        font-size: 2rem;
    }

    .main_banner_txt h2 {
        font-size: 3.3rem;
    }

    .banner_txt_box {
        width: 100%;
        margin-left: 0;
    }

    .banner_txt_box h4 {
        font-size: 2.7rem;
    }
    
    .main_banner_txt p {
        font-size: 2rem;
    }


    /* Contents */

    .contents_wrap {
        max-width: 1024px;
        width: 95%;
        overflow: hidden;
        margin: 150px auto 0;
    }

    .contents1_boxWrap {
        justify-content: center;
    }

    .contents1_items {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
    }

    .contents2_title {
        text-align: center;
    }

    .swiper-button-prev {
        width: 24px;
        height: 24px;
        right: 50px;
    }
    
    .swiper-button-next {
        width: 24px;
        height: 24px;
    }

    .item2_txt p:first-of-type {
    font-size: 2rem;
    }

    .item2_txt h3 {
        font-size: 2.5rem;
    }

    .item2_txt p:last-of-type {
        font-size: 1.5rem;
    }

    .item2_txt span {
        font-size: 2rem;
    }
}

/* contents3 */

@media screen and (max-width:1320px) {

    .contents3_title {
        text-align: center;
    }

    .contents3_boxWrap {
        width: 90%;
        height: auto;
        margin: 50px auto 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .contents3_boxWrap a {
        margin-bottom: 30px;
    }
    
}

@media screen and (max-width:400px) {
    .contents3_boxWrap {
        width: 90%;
        height: auto;
        margin: 50px auto 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .item3_imgbox {
        width: 40%;
        top: 17%;
        left: 10%;
    }

    .item3_txtbox {
        left: 60%;
    }

    .item3_txtbox h3 {
        left: 0;
    }
    
    .item3_txtbox h4 {
        width: 128px;
        left: 0;
        transform: translateY(50px);
    }

    .con3_itembox p, .item3-3_txtbox span {
        display: none;
    }

    .item3-2 {
        padding-top: 35px;
    } 
}