@charset "utf-8";

#wrap {
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
}

/* Contents */

.contents_wrap {
    max-width: 1320px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.banner {
    width: 100%;
    margin-top: 100px;
}

.section1 {
    width: 100%;
    overflow: hidden;
}

.sec1_title {
    width: 100%;
    overflow: hidden;
    line-height: 200px;
    text-align: center;
}

.sec1_title h3 {
    display: inline;
    font-size: 3.2rem;
    font-weight: 400;
}

.sec1_title h2 {
    display: inline;
    font-size: 4.8rem;
    padding-left: 10px;
}

.sec1_boxWrap {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1_imgbox {
    width: 50%;
}

.sec1_txtbox {
    width: 50%;
    padding-left: 10%;
}

.sec1_txtbox h4 {
    display: inline;
    font-size: 3rem;
}

.sec1_txtbox h5 {
    display: inline;
    font-size: 2rem;
    font-weight: 400;
    color: #7aa225;
    padding-left: 15px;
}

.sec1_txtbox p {
    color: #aaa;
    font-size: 1.5rem;
    line-height: 30px;
    margin-top: 45px;
}

.section2 {
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.sec2_title {
    width: 100%;
    text-align: center;
    margin-bottom: 70px;
}

.sec2_title h4 {
    font-size: 3rem;
}

.sec2_boxWrap {
    width: 70%;
    overflow: hidden;
    margin: 0 auto;
}

.sec2_txtbox {
    width: 50%;
    text-align: right;
    float: left;
}

.sec2_txtbox h5 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.sec2_txtbox p {
    font-size: 1.7rem;
    color: #aaa;
    line-height: 30px;
    margin-bottom: 50px;
}

.sec2_txtbox p:last-child {
    margin-bottom: 0;
}

.sec2_imgbox {
    width: 50%;
    padding-left: 10%;
    margin-top: 30px;
    float: right;
}

.sec2_imgbox img {
    display: block;
}

.sec2_imgbox img:first-child {
    margin-left: 10px;
}

.sec2_imgbox img:nth-child(2) {
    margin-top: 100px;
}

.sec2_imgbox img:nth-child(3) {
    margin-top: 90px;
    margin-left: 20px;
}

.sec2_imgbox img:last-child {
    margin-top: 100px;
}

.section3 {
    width: 100%;
    overflow: hidden;
    margin: 100px 0;
}

.sec3_boxWrap {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3_imgbox {
    width: 50%;
}

.sec3_txtbox {
    width: 50%;
    padding-left: 10%;
}

.sec3_txtbox h4 {
    font-size: 2.5rem;
    line-height: 1.5;
}

.sec3_txtbox p {
    font-size: 1.6rem;
    color: #aaa;
    line-height: 30px;
    margin-top: 65px;
}



/* Media Query */

@media screen and (max-width:1024px) {

    #wrap {
        max-width: 1024px;
    }

    /* Contents */

    .contents_wrap {
        max-width: 1024px;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }

    .section1 {
        text-align: center;
    }

    .sec1_boxWrap {
        flex-flow: row wrap;
    }

    .sec1_imgbox, .sec1_txtbox {
        width: 100%;
    }
    
    .sec1_txtbox {
        padding-left: 0;
        margin: 60px 0;
    }

    .sec3_boxWrap {
        flex-flow: row wrap;
        text-align: center;
    }

    .sec3_imgbox, .sec3_txtbox {
        width: 100%;
    }
    
    .sec3_txtbox {
        padding-left: 0;
    }
    
    .sec3_txtbox h4 {
        margin-top: 80px;
    }
}


@media screen and (max-width:768px) {

    .sec1_boxWrap, .sec2_boxWrap, .sec3_boxWrap {
        width: 80%;
    }

    .sec2_imgbox {
        display: none;
    }

    .sec2_txtbox {
        width: 100%;
        text-align: center;
    }
}