@charset "utf-8";

#wrap {
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
}

/* Contents */

.title {
    width: 100%;
    overflow: hidden;
    margin: 200px auto 100px;
    text-align: center;
}

.title h2:first-of-type {
    font-size: 3rem;
    font-weight: 700;
    color: #77b300;
}

.title h2:last-of-type {
    font-size: 3rem;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 80px;
}

.title h3 {
    height: 70px;
    font-size: 3rem;
    position: relative;
}

.title h3::before {
    content: '';
    width: 265px;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    top: 60px;
}

.table_wrap {
    max-width: 1320px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    
}

.table_wrap table {
    width: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    color: #555;
    font-family: 'NanumSquareRound';
}

th {
    height: 70px;
    font-size: 2rem;
    font-weight: 800;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-right: none;
}

td {
    height: 70px;
    font-size: 1.5rem;
    border-right: 1px solid #ccc;
}

.section1 {
    width: 100%;
    background-color: #f8f8f8;
    margin-top: 100px;
}

.sec1_box {
    max-width: 1320px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 50px 0;
    font-family: 'NanumSquareRound';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec1_box p {
    color: #555;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2;
}

.sec1_box p span {
    font-size: 2.5rem;
}

.sec1_box p:last-child::before {
    content: '';
    width: 900px;
    height: 2px;
    background-color: #555;
    position: absolute;
    top: -10px;
    left: 0;
}

.sec1_box p:last-child {
    text-align: left;
    margin-top: 30px;
    position: relative;
}

.sec1_box p:last-child span {
    font-weight: 600;
}

.section2 {
    max-width: 1320px;
    width: 100%;
    overflow: hidden;
    margin: 100px auto 0;
}

.sec2_title {
    width: 100%;
    height: 70px;
}

.sec2_title h3 {
    font-size: 3.2rem;
    text-align: center;
    position: relative;
}

.sec2_title h3::before {
    content: '';
    width: 410px;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    top: 60px;
}

.sec2_boxWrap {
    max-width: 1096px;
    width: 100%;
    height: 540px;
    margin: 80px auto 100px;
    display: flex;
    flex-flow: column wrap;
}

.sec2_box {
    width: 50%;
    height: 135px;
}

.sec2_box_num {
    display: block;
    width: 185px;
    height: 135px;
    font-family: 'NanumSquareRound';
    font-size: 4rem;
    font-weight: 500;
    color: #77b300;
    text-align: center;
    line-height: 135px;
    float: left;
}

.sec2_box_title {
    font-size: 2rem;
    padding-top: 20px;
    padding-left: 80px;
}

.sec2_box_txt {
    font-size: 1.8rem;
    font-weight: 500;
    color: #999;
    padding-top: 15px;
}



/* Media Query */

@media screen and (max-width:1024px) {

    #wrap {
        max-width: 1024px;
    }

    /* Contents */

    .table_wrap {
        max-width: 1024px;
        width: 95%;
        overflow: hidden;
        margin: 0 auto;
    }

    .title h3 {
        font-size:  2.5rem;
    }

    .title h3::before {
        content: '';
        width: 220px;
        height: 2px;
        background-color: #ccc;
        position: absolute;
        top: 50px;
    }

    th {
        font-size: 1.4rem;
    }

    .sec1_box {
        width: 90%;
    }

    .sec1_box p:last-child {
        text-align: center;
    }

    .sec1_box p:first-child {
        text-align: left;
    }

    .section2 {
        margin-top: 200px;
    }

    .sec2_title h3 {
        font-size: 2.5rem;
        position: relative;
    }
    
    .sec2_title h3::before {
        content: '';
        width: 320px;
        height: 2px;
        background-color: #ccc;
        position: absolute;
        top: 50px;
    }

    .sec2_boxWrap {
        width: 50%;
        height: auto;
        margin: 0 auto 100px;
        display: flex;
        flex-flow: row wrap;
    }

    .sec2_box {
        width: 100%;
        height: auto;
        text-align: center;
    }
    
    .sec2_box_num {
        display: inline;
        width: 10%;
        height: auto;
        float: unset;
    }
    
    .sec2_box_title {
        font-size: 2rem;
        padding-top: 0;
        padding-left: 0;
    }
    
    .sec2_box_txt {
        font-size: 1.8rem;
        font-weight: 500;
        color: #999;
        padding-top: 20px;
        padding-left: 0;
    }
}

@media screen and (max-width:768px) {
    .sec2_boxWrap {
        width: 90%;
    }

    .sec2_box {
        width: 100%;
        height: auto;
        text-align: center;
    }
}