@charset "utf-8";


@media screen and (max-width:1024px) {

    #wrap {
        max-width: 1024px;
    }


    /* Header */

    header {
        max-width: 1024px;
    }
 
    .header_box {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    
    .header_box h1 {
        width: 20%;
        margin-left: 3%;
    }

    nav, .header_icon {
        display: none;
    }

    .sidemenu_wrap {
        display: block;
        width: 10%;
        height: auto;
    }

    .sidemenu_open {
        width: 30px;
        height: 30px;
        border: none;
        background: url(../img/sidemenu_open.png) no-repeat center;
        background-size: cover;
        cursor: pointer;
        position: absolute;
        top: 30%;
        right: 5%;
    }

    .sidemenu {
        width: 40vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .8);
        position: absolute;
        top: 0;
        right: -40vw;
    }

    .side_gnb {
        margin: 150px 0 0 50px;
    }

    .sidemenu_close {
        width: 35px;
        height: 35px;
        border: none;
        background: url(../img/sidemenu_close.png) no-repeat center;
        background-size: cover;
        cursor: pointer;
        position: absolute;
        top: 3.5%;
        left: 17%;
    }

    .side_gnb li {
        padding: 30px 20px;
    }

    .side_gnb li a {
        font-size: 2vw;
        font-weight: normal;
        color: #fff;
    }

    .side_gnb li a:hover {
        border-bottom: 1px solid #fff;
    }


    /* Contents */

    .contents_wrap {
        max-width: 690px;
        width: 90%;
        overflow: hidden;
        margin: 200px auto 100px;
    }
  
    .naver, .kakao {
        width: 47%;
    }

    .naver > a, .kakao > a {
        font-size: 15px;
    }

    .txt_2 h3 {
        font-size: 3vw;
    }

    .txt_2 p {
        font-size: 2vw;
    }

    .terms_of_service {
        font-size: 2vw;
    }

    /* Footer */

    footer {
        max-width: 1024px;
        width: 100%;
        height: 200px;
        background-color: #eee;
    }
    
    .footer_box {
        max-width: 1024px;
        width: 95%;
        height: 200px;
        margin: 0 auto;
        position: relative;
    }

    .footer_nav li {
        padding-right: 5%;
    }

    .footer_txt {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: space-between;
    }

    .footer_txt ul {
        width: 33.3%;
        margin-right: 2%;
    }

    .footer_txt ul li {
        font-size: 1vw;
        line-height: 20px;
    }

    .sns {
        width: 10%;
        text-align: right;
        position: absolute;
        top: 10px;
        right: 0;
    }
    
    .sns a img {
        padding: 7px;
    }
    
    .goTop {
        width: 32px;
        height: 32px;
        border: none;
        background: url(../img/up-arrow.png) no-repeat center;
        cursor: pointer;
        position: absolute;
        top: 70%;
        right: 0;
    }
}


/* Footer - sns icon 860px 이하 */

@media screen and (max-width:860px) {
    
    .sns {
        width: 10%;
        position: absolute;
        top: 30%;
        right: 0;
    }
    
    .sns a img {
        padding: 3%;
    }
    
    .goTop {
        width: 32px;
        height: 32px;
        border: none;
        background: url(../img/up-arrow.png) no-repeat center;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}